@font-face {
    font-family: Archangelsk;
    src: url(fonts/ofont.ru_Archangelsk.ttf);
}
.H {
    background: url(assets/background.svg);
    width: 1920px;
    height: 1000px;
}

.H-back {
    display: flex;
    margin: 398px 0 0 976px ;
}

.H-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 320px 0 320px;
}

.H-social_media img {
    margin-left: 40px;
}

.H-back-text {
    position: relative;
    left: 1046px;
    top: 592px;
    font-family: Archangelsk;
    font-weight: 100;
    font-size: 25px;
}

.know_more {
    display: flex;
    border: none;
    color:#F8F200;
    background-color: black;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    align-items: center;
    width: 272px;
    height: 78px;
    justify-content: space-around;
    align-items: center;
}

.H-container {
    display: flex;
}