@font-face {
    font-family: Archangelsk;
    src: url(fonts/ofont.ru_Archangelsk.ttf);
}

*{
    margin:0;
}

h1 {
    font-family: Archangelsk;
    font-weight: 400;
    font-size: 62px;
}

.H {
    background: url(assets/background.svg);
    width: 1920px;
    height: 1000px;
}

.H-back {
    display: flex;
    width: 624px;
    height: 369px;    
    margin-left: 200px;
}

.H-logos img {
    margin-left: 40px;
}

.H-social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 320px 0 320px;
    width: 1280px;
    height: 74px;
}

.H-back-text h1 {
    position: absolute;
    margin-left: 70px;
    margin-top: 70px;
}

.H-back-text button {
    position:absolute;
    margin-top:221px;
    margin-left: 70px;
}

.H-back-text {
    position: relative;
    left: 1046px;
    top: 537px;
    font-weight: 100;
    font-size: 25px;
}

.S-2 {
    width: 1920px;
}

.know_more {
    display: flex;
    border: none;
    color:#F8F200;
    background-color: black;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    align-items: center;
    justify-content: space-around;
    width: 272px;
    height: 78px;
}

.S-1 h1 {
    margin-left: 320px;
    margin-top: 70px;
}

.Blue_color {
    font-weight: 700;
    color: #52BEDC;
}

.S-1_info {
    margin-top: 25px;
    margin-left: 320px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color:#686670;
}

.rect1 {
    margin-left: 32px;
}

.rect23 img {
    display: block;
    margin-top: 10px;
    margin-left: 320px;
}

.rectungls {
    display: flex;
    margin-top: 70px;
}

.S-2 {
    background-color: black;
}

.S-2-text {
    color:aliceblue;
    position:relative; 
    left: 320px;
}

.S-2-sell {
    display:flex;
    align-items: center;
}

.S-2-text_1 {
    margin-left: 32px;
    margin-top: 40px;
}

.S-2-play {
    margin-top: 39px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 34px;
}

.S-2-forms {
    display: flex;
    align-items: end;
}

.S-2-inputs {
    display:flex;
    flex-direction:column;
    position: relative;
    left:320px
}

.S-2-inputs-img{
    display:flex;
    align-items: center;
    position: relative;
    left: 320px;
}

.name {
    background-color:black;
    border: solid 1px #777777;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 460px;
    height: 35px;
}

.email {
    background-color:black;
    border: solid 1px #777777;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 35px 0 35px 0;
    width: 460px;
    height: 35px;
}

.screenshot {
    background-color:black;
    width: 460px;
    height: 120px;
    margin-bottom: 35px;
    border: dashed #777777 1px;
    padding-top: 39px;
}

.screenshot::placeholder {
    display: flex;
}

.send {
    width: 192px;
    height: 59px;
    padding: 15px 50px 15px 50px;
    background-color: #F8F200;
    font-weight: 700;
    font-size: 18px;

}

.S-2-inputs-data-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color:#FFFFFF;
}